<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form action="/campgrounds" method="POST">
        <div class="title">
            <input type="text" placeholder="title" name="campground[title]">
        </div>
        <div class="location">
            <input type="text" placeholder="location" name="campground[location]">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>